// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
ul {
  margin-top: 20px;
}

a {
  color: white;
}

a:hover {
  color: white;
}

div.menu-centered {
  margin-top: 20px;
}